body {
  font-family: "Kurale", serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}

.landing {
  color: #ec4c71;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 5%;
}

.half-width img {
  width: 70%;
  margin-top: 8%;
}

.top-banner {
  background-image: url(../images/header-bg.png);
  background-repeat: no-repeat;
  /* border: 1px solid black; */
}

section {
  height: 500px;
  padding-bottom: 100px;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(rgb(241, 89, 160), rgb(255, 0, 149));
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 2em;
  margin-top: 70px;
}

.dream-paragraph {
  width: 85%;
}

.dream-area {
  background-image: url(../images/biography-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  /* border: 1px solid black; */
  height: 80vh;
}

.half-width h2 {
  padding-top: 120px;
}

.hd {
  padding-top: 50px;
  font-size: 55px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.display-f {
  width: 90%;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid blue; */
  margin: 1%;
  background-image: url(../images/latest-work-bg.png);
  background-repeat: no-repeat;
}
.ig {
  width: 28%;
  height: 300px;
  /* border: 2px solid brown; */
}

.latest-h1 {
  text-align: center;
}

.testimonial {
  background-image: url(../images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 50vh;
  text-align: center;
}

.email {
  background-color: #ec4c71;
  width: 50%;
  margin-left: 25%;
  border-radius: 8px;
  color: white;
  padding: 10px 0px;
}

footer p {
  text-align: center;
  font-size: 20px;
}
